<h1>Columbo <h3>...word detective</h3></h1>

<p>
  install it now drag
  <a title="drag this to your bookmarks" href="<%= @bookmarklet %>">
    columbo <%= 'local' if @local %>
  </a>
  to your bookmarks
</p>
<p>Columbo is a bookmarklet that allows you to search for several terms on any webpage.</p>

<p>screenshot</p>
    <img src="/images/mock_ss.png"/>