<div id="header">
  <div id="columbo">
    <a class="bm" title="drag this to your bookmarks" href="<%= @bookmarklet %>">
      <div id="bookmarklet">columbo!</div>
    </a>
  </div>
</div>
<div id="content">
  <div class="paragraph left">  
    <h1>Just one more thing.</h1>
    <p>
      Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. 
      Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. 
      Sed lectus. Praesent elementum hendrerit tortor. 
        </p>
        <p>
      Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. 
      Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.Donec nec justo eget felis facilisis fermentum. 
      Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
    </p>
  </div>
  <div class="clear"></div>

</div>

