<html>
  <head>
    <title>= coloumbo = multiple search term highlighter =</title>
    <link href="http://s3.amazonaws.com/getcolumbo/css/style.css" media="screen" rel="stylesheet" type="text/css" />
    
  </head>
  <body>
    <div id="wrap">
      <div id="main" class="clearfix">
            <%= yield %>
      </div>
    </div>
    <div id="footer">
        <div class="copyright right">
        &copy; 2009 <a href="http://ubermajestix.com">Tyler Montgomery</a>
      </div>  
    </div>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-11845686-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>