<html>
  <head>
    <title>= coloumbo = multiple search term highlighter =</title>
    <link href="/css/style.css" media="screen" rel="stylesheet" type="text/css" />
    
  </head>
  <body>
    <div id="wrap">
      <div id="main" class="clearfix">
            <%= yield %>
      </div>
    </div>
    <div id="footer">
      source code available at <a href="http://github.com/ubermajestix/columbo/tree/master">github</a>
      
      <div class="copyright right">
        &copy; 2009 <a href="http://ubermajestix.com">Tyler Montgomery</a>
      </div>  
    </div>
  </body>
</html>